<div class="add-news-form-container">
  <h1>Add News</h1>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" />
      <small id="emailHelp" class="form-text text-muted"
        >We'll never share your email with anyone else.</small
      >
    </div>
    <div class="form-group">
      <label for="subtitle">Sub Title</label>
      <input type="text" class="form-control" id="subtitle" />
    </div>
    <div class="form-group">
      <label for="subtitle">Description</label>
      <textarea class="form-control" aria-label="With textarea"></textarea>
    </div>

    <app-file-uploader></app-file-uploader>
    <app-radio-button [categories]="categories"></app-radio-button>

    <div class="action-buttons">
      <button type="button" class="btn btn-primary" (click)="onSave()">
        Save
      </button>
      <button
        type="button"
        class="btn btn-primary"
        *ngIf="mode === 'edit'"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
