@import "../../../../styles.less";

.spinner-container {
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: @background-opacity;
  position: absolute;
  top: 0;
  .spinner-border {
    z-index: 4;
    position: absolute;
    top: 45%;
    left: 45%;
  }
}
